.col-md-4
  .card.text-center.text-white.bg-primary.border-0.shadow-sm
    .card-body
      %h5.card-title.mb-2 Orders Today
      %h2.card-text.mb-0.fw-bold= orders_today
.col-md-4
  .card.text-center.text-white.bg-success.border-0.shadow-sm
    .card-body
      %h5.card-title.mb-2 Revenue Today
      %h2.card-text.mb-0.fw-bold= number_to_currency(total_revenue_today)
