- provide(:title, "Dashboard")

%section.dashboard-hero
  .background
  .hero-content
    %h1 Food Management Dashboard
    %p Add, edit, or remove food items from your menu.

.content-wrapper
  %section.dashboard-container{ data: { controller: "dashboard" } }
    = render partial: "food_item_form", locals: { food_item: @food_item }
    = render partial: "food_items_table", locals: { food_items: @food_items }
