- provide(:title, "Dashboard")

%section.dashboard-hero
  .background
  .hero-content

.container.py-4
  .row.mb-4.justify-content-center
    = render partial: "today_stats", locals: { orders_today: @orders_today, total_revenue_today: @total_revenue_today }

  .row.g-4.mb-4.justify-content-center
    .col-lg-6
      .card.border-0.shadow-sm.h-100
        .card-body
          = render partial: "recent_orders", locals: { orders: @recent_orders }

  .row.g-4.justify-content-center
    .col-lg-6
      .card.border-0.shadow-sm.h-100
        .card-body
          = render partial: "food_item_form", locals: { food_item: @food_item }

    .col-12
      .card.border-0.shadow-sm
        .card-body
          = render partial: "food_items_table", locals: { food_items: @food_items }
