%footer.site-footer
  .footer-content
    %p © #{Time.current.year} Eureka Caffe. All rights reserved.
    %nav.footer-nav
      = link_to "Home", root_path
      |
      %a{ href: "https://github.com/RaresMarta/food-order-system/tree/rails-migration", target: "_blank" } GitHub
