%div{ data: { controller: "home" } }
  / Hero Section
  %section.hero
    .background
    .hero-content
      %h1 Ordering food
      .divider
        %span.divider-line
        %span.divider-icon
        %span.divider-line
      %p
        Delicious meals, crafted with care and delivered to your door.
        %br/
        Eureka Caffe — simple, satisfying, and just one order away.

  / Filter Bar
  %section.filter-bar
    .content-wrapper.filter-bar-content
      .dropdowns-container
        #category-dropdown.custom-dropdown{ data: { home_target: "category" } }
          .dropdown-label Category
          %ul.dropdown-options{ data: { action: "click->home#applyFilters" } }
            %li{ data_value: "default" } All
            %li{ data_value: "entrees" } Entrees
            %li{ data_value: "main-courses" } Main courses
            %li{ data_value: "second-courses" } Second courses
            %li{ data_value: "salads" } Salads
            %li{ data_value: "pizza" } Pizza
            %li{ data_value: "desserts" } Desserts

        #sort-dropdown.custom-dropdown{ data: { home_target: "sort" } }
          .dropdown-label Sorting
          %ul.dropdown-options{ data: { action: "click->home#applyFilters" } }
            %li{ data_value: "default" } Default
            %li{ data_value: "asc" } Price: Low to High
            %li{ data_value: "desc" } Price: High to Low

        #vegetarian-dropdown.custom-dropdown
          .dropdown-label Vegetarian
          %ul.dropdown-options
            %li
              %label.vegetarian-label
                %input{
                  type: "checkbox",
                  id: "vegetarian-toggle",
                  data: { action: "change->home#applyFilters", home_target: "veg" }
                }
                %span Show Only Vegetarian

      .price-range-container
        .price-label Price
        .price-slider-wrapper
          %span.min-price{ data: { home_target: "minLabel" } } 0

          .slider-container
            %label.visually-hidden{ for: "price-range-min" } Minimum price
            %input#price-range-min{
              title: "Minimum price",
              type: "range",
              min: "0", max: "100", value: "0",
              data: { action: "input->home#filterChanged", home_target: "min" }
            }

            %label.visually-hidden{ for: "price-range-max" } Maximum price
            %input#price-range-max{
              title: "Maximum price",
              type: "range",
              min: "0", max: "100", value: "100",
              data: { action: "input->home#filterChanged", home_target: "max" }
            }

            .slider-track
            .slider-range{ data: { home_target: "sliderRange" } }
            .slider-thumb.left{ data: {home_target: "thumbLeft" } }
            .slider-thumb.right{ data: {home_target: "thumbRight" } }
          %span.max-price{ data: { home_target: "maxLabel" } } 100

  / Food Grid
  .content-wrapper
    %section#food-grid.food-grid{ data: { home_target: "grid" } }
