- provide(:title, "Cart")

%section.dashboard-hero
  .background
  .hero-content

.container-fluid.py-4
  - if @cart_items.any?
    .row
      .col-lg-8
        = render partial: "cart_items_table", locals: { cart_items: @cart_items }
        .mt-3
          = link_to "Continue Shopping", root_path, class: "btn btn-secondary btn-lg"

      .col-lg-4
        = render partial: "order_total", locals: { total: @total }

  - else
    .row.justify-content-center
      .col-md-6
        .text-center.py-5
          %h3.text-muted.mb-3 Your cart is empty
          %p.text-muted.mb-4 Start adding some delicious items to your cart!
          = link_to "Browse Menu", root_path, class: "btn btn-primary btn-lg"
